.container{
    height: 100px;
    border: 1px solid blue;
}
.row{
    height: 100%;
}
.col-4{
    height: 100%;
    border: 1px solid red;
}
.height{
    height: 400px;
    
}
.col{
    height: 100%;
}
.avatar{
    height: 90%;
}
.altezza{
    height: 250px;
}