
.immagini{  
    border-radius: 20px;
    margin: 10px 0;
}
.avatar{
    width: 30%;
}
.color{
    color: white;

}
.nav_bg{
    background-color: rgba(44,62,80,255);
}
.bg_section{
    background-color: rgba(26,188,156,255);
}
.a_color{
    color:rgba(26,188,156,255) ;
}
.a_color:hover{
    color: white;
}
.bg_credits{
    background-color:rgba(58,84,109,255);
}
.circle{
    height: 45px;
    width: 45px;
    border: 1px solid white;
    border-radius: 50%;
    line-height: 45px;
    vertical-align: middle;
}
#button_color{
    background-color: rgba(26,188,156,255);
    border-color: rgba(26,188,156,255);
}